<h3>Keith Best Friend Quiz</h3>
<h4>Are you my friend? Prove it! </h4>
<form action="/quiz" method="POST">
<label for="question1">Pick two things</label><br />
<input type="radio" name="question1" value="one">Pick me!</input><br />
<input type="radio" name="question1" value="two">Oooo pick me!</input><br />
<input type="radio" name="question1" value="three">You don't want to pick me</input><br />
<label for="question2">Whats my favorite color?</label><br />
<input type="radio" name="question2" value="malachite">Malachite</input><br />
<input type="radio" name="question2" value="razzmatazz">Razzmatazz</input><br />
<input type="radio" name="question2" value="camel">Camel Wild Mushroom</input><br />
<label for="question3">Tell me a joke</label>
<input type="text" name="joke">

<button type="submit">Submit</button>